@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
:root {
    --body-bg: #f5f8ff;
    --box-bg: #fff;
    --input-bg: #f5f8ff;
    --txt-color: #2f2d2f;
    --txt-second-color: #ccc;
    --border-color: #4267b2;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--body-bg);
    color: var(--txt-color);

    display: flex;
    justify-content: center;
    padding-top: 100px;

    height: 100vh;
}

.box {
    background-color: var(--box-bg);
    padding: 30px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.label{
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: var(--txt-color);
}

h3{
    text-align: center;
    color:  var(--border-color);
}
h1{
    text-align: center;
    color: var(--border-color);
}

.container1{
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    height: 25vh;
    margin-bottom: 50px;
}

li{
    text-align: center;
    color: var(--txt-color);
}

.loader-container {
    width: 50vw;
    height: 50vh;
    position: fixed;
    background:
    url("https://media.giphy.com/media/sSgvbe1m3n93G/giphy.gif") center
    no-repeat;
    z-index: 10;
    opacity: 0.5;
}
